body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение кнопок */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  height: 100vh; /* Занять всю высоту экрана */
}

button {
  margin: 20px;
  padding: 0;
  border: none;
  width: 180px;
  height: 50px;
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  color: rgb(80, 56, 221);
  font-size: 20px;
  font-weight: 700;
  font-family: verdana;
  letter-spacing: 3px;
  position: relative; /* Добавлено для работы с псевдоэлементами */
}

button:before,
button:after,
span:before,
span:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(76, 83, 223);
  transition: 1s;
  mix-blend-mode: hue;
}

button:before {
  top: -2px;
  left: -2px;
}

button:after {
  top: -2px;
  right: -2px;
}

span:before {
  bottom: -2px;
  left: -2px;
}

span:after {
  bottom: -2px;
  right: -2px;
}

button:hover:before,
button:hover:after,
button:hover span:before,
button:hover span:after {
  width: calc(180px / 2);
  height: calc(50px / 2);
}

video {
  margin-top: 20px;
}
